rpis61/barinova/wdad/resources/configuration/appconfig_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="appconfig" type="appconfigType">
    <xs:annotation>
      <xs:documentation>valid values: “yes”, “no”  valid IP X.X.X.X (X=>0-255)
or valid host name  FS depended path (absolute or relative) to *.policy file  valid values: “yes”, “no”  valid FS depended path to local
directory or *jar file, or URL to *.jar file, containing *.class files</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="registryType">
    <xs:sequence>
      <xs:element type="xs:string" name="createregistry"/>
      <xs:element type="xs:string" name="registryaddress"/>
      <xs:element type="xs:string" name="registryport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serverType">
    <xs:sequence>
      <xs:element type="registryType" name="registry"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientType">
    <xs:sequence>
      <xs:element type="xs:string" name="policypath"/>
      <xs:element type="xs:string" name="usecodebaseonly"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rmiType">
    <xs:sequence>
      <xs:element type="serverType" name="server"/>
      <xs:element type="clientType" name="client"/>
      <xs:element type="xs:string" name="classprovider"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appconfigType">
    <xs:sequence>
      <xs:element type="rmiType" name="rmi"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>